.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(159, 156, 156);
    transition: 0.3s;
    animation: fadeIn 0.3s;
}

.food-item-image{
    width: 100%;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

.food-item-info{
    padding: 10px;
}

.food-item-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item-rating h2{
    font-size: max(1.2vw, 20px);
    font-weight: 600;
    color: rgb(60, 56, 56);
}

.food-item-rating img{
    width: 80px;
}

.food-item-desc{
    font-size: min(1.2vw, 14px);
    font-weight: 500;
    margin-top: 5px;
}

.food-item-price{
    font-size: 25px;
    margin-top: 10px;
    color: tomato;
}

.food-item-image-container{
    position: relative;
}

.food-item-image-container .add{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 40px;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 20px;
    padding: 5px 8px;
}

.food-item-counter img{
    width: 30px;
}

.food-item-name{
    color: black;
}